body{
    font-family: 'Lato', sans-serif;
 
}
.title{
    font-size: 60px;
    margin-top: 15px;
    background-color: #196F3D;
    padding: 60px;
    
}
.flexcontainer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
 
.innerbox1{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 30px;
}
 
.german{
    padding-top: 20px;
    padding-bottom: auto;
    
}
 
.innerbox2{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-bottom: 30px;
 
    
 
}
 
.golden{
    width: 100%;
    max-height: 405px;
    overflow: hidden;
}
 
.innerbox3{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-bottom: 30px;
 
}
 
.innerbox4{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 40px;
 
 
}
 
.innerbox5{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 40px;
 
}
 
.innerbox6{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 40px;
 
}
 
.innerbox7{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 60px;
 
 
}
 
.innerbox8{
    
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 60px;
 
}
 
.innerbox9{
    border: 5px solid #27AE60; 
    width: 28%; 
    height: 500px; 
    width: 500px;
    margin-top: 60px;
 
 
}
